
.extension-container {
    text-align: center;
    padding: 20px; 
}


/* Message styles */
#copyMessage,
#extractMessage {
    display: none;
    font-weight: 400;
    text-align: center;
    padding: 3px;
}






  